header .d-flex.container {
    height: 100px;
}

header label.rounded-pill {
    height: 40px;
    width: 70px;
}

label.rounded-pill .Switch{
    height: 35px;
    width: 35px;
    top: 50%;
    left: 1.5px;
    transform: translateY(-50%);
}

main .d-flex.container {
    height: calc(100vh - 4rem - 150px);
}

main .rounded-pill .Pw-display {
    font-family: 'Courier Prime', monospace;
    font-size: 21px;
}

@media screen and (max-width: 575px) {
    main .rounded-pill {
        height: 100%;
        width: 70px;
    }

    main .rounded-pill .rounded-circle {
        width: 100%;
        height: 70px;
    }

    main .rounded-pill .Pw-display {
        height: calc(100% - 140px);
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    main .rounded-pill {
        height: 70px;
        width: 100%;
    }

    main .rounded-pill .rounded-circle {
        height: 100%;
        width: 70px;
    }

    main .rounded-pill .Pw-display {
        width: calc(100% - 140px);
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    main .rounded-pill {
        width: 560px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {

}